body {
    margin: 0;
    padding: 0;
    position: relative; /* To contain the absolute positioning of the player */
    width: 100%; /* Adjust according to your design */
    height: 100vh; /* Full viewport height */
    background: url('mariobackground.png') no-repeat center center/cover;
    background-attachment: fixed;
    font-family: 'Press Start 2P', cursive;
    overflow: hidden;
    background-color: black;
    color: white;
}


.screen{
  display: flex;
}

.player{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.player:hover{
  cursor: pointer;
}

.UI{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 500px;
}

.kirbycomp,.kirbyhuman{
  width: 200px;
  height: 200px;
}

.kirby-player{
    position: absolute;
    bottom: 20px; /* Adjust this value to make the player appear on top of the "land" */
    left: 50%; /* Center the player horizontally */
    transform: translateX(-50%); /* Fine-tune horizontal centering */
    width: 100px; /* Adjust player size */
}