body {
    margin: 0;
    padding: 0;
    background-image: url('mariobackground.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
    overflow-x: hidden;
    background-color: black;
    color: white;
}


.screen{
  display: flex;
}

.player{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.player:hover{
  cursor: pointer;
}

.UI{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 500px;
}

.kirbycomp,.kirbyhuman{
  width: 200px;
  height: 200px;
}